<!doctype html>
<html>

<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ asset('bundles/auto/css/main_style.css') }}" type="text/css"/>
</head>

<body>
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <div id="formEnter">
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Login*:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Password*:</label>
            <input type="password" id="password" name="_password" />

            {#
            Если вы хотите контролировать URL, на который перенаправить пользователя:
            <input type="hidden" name="_target_path" value="/account" />
            #}

            <input type="submit" name="login" value="Войти" />
        </form>

        <p></p>

    </div>
</body>

</html>
