<aside class="leftbar">
    <section class="cab_nav">
        <ul>
            <li><a href="{{ path('change_profile') }}">Изменить пофиль</a></li>
            <li><a href="{{ path('cabinet') }}">Мои объявления</a></li>
            <li><a href="{{ path('zayavka_list') }}">Мои заявки на авто</a></li>
            <li><a href="#">Как попасть в ТОП</a></li>
        </ul>
    </section>

</aside>