<section class="news">
    <h3 class="news_title">Новости автомира</h3>
    <div class="all_news_block">
    {% if news %}
        {% for n in news %}
            {% if n.type == 'news' %}
            <div class="news_block">
                <div class="news_image">
                    <img src="/bundles/auto/userfiles/{{ n.image }}" alt="{{ n.title }}"/>
                </div>
                <h4 class="news_block_title"><a href="#">{{ n.title }}</a></h4>
                <article>{{ n.description }}</article>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        <br class="clear"/>
        <a class="all_news" href="#">&gt; Смотреть все новости</a>
    </div>
</section>